.footer-area {
    background-color: $black-color;
    @media (max-width: 767px){
        padding-bottom: 4rem;
    }
}

.color-primary{
    color: $primary-color !important;
}

.logo-area {
    margin-bottom: 30px;
    padding-right: 30px;

    img {
        margin-bottom: 30px;
    }

    p {
        color: $light-color;
        margin-bottom: 30px;
    }

    .newsletter-form {
        position: relative;

        .form-control {
            height: 53px;
            border-radius: 30px;
            background-color: transparent;
            border: 1px solid rgba($light-color, 0.45);
            color: $light-color;
        }

        .default-btn {
            position: absolute;
            right: 0;
            top: 0;
        }

        .validation-danger {
            color: rgb(233, 96, 96);
            margin-top: 10px;
        }
    }
}

.quick-link {
    margin-bottom: 30px;

    h3 {
        font-size: 20px;
        color: $light-color;
        margin-bottom: 30px;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;

        li {
            list-style-type: none;
            position: relative;
            padding-left: 20px;
            margin-bottom: 13px;

            i {
                position: absolute;
                left: 0;
                color: #cacaca;
                transition: $transition;
            }

            p {
                color: #cacaca;
                transition: $transition;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                i {
                    color: $primary-color;
                }

                p {
                    color: $primary-color;
                }
            }

        }
    }
}

.helpful-link {
    margin-bottom: 30px;

    h3 {
        font-size: 20px;
        margin-bottom: 30px;
        color: $light-color;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;

        li {
            list-style-type: none;
            color: #cacaca;
            margin-bottom: 20px;

            span {
                color: $primary-color;
                font-weight: 500;
                padding-left: 5px;
                display: inline-block;
            }

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: #cacaca;
            }
        }
    }
}

.instagram {
    margin-bottom: 30px;

    h3 {
        font-size: 20px;
        color: $light-color;
        margin-bottom: 30px;
    }

    .instagram-img {
        overflow: hidden;
        transition: $transition;
        margin-bottom: 25px;
        border-radius: 10px;
        position: relative;

        img {
            overflow: hidden;
            transition: $transition;
            border-radius: 10px;
        }

        &:hover {
            img {
                transform: scale(1.3);
                filter: blur(3px);
            }

            .icon {
                opacity: 1;
            }
        }

        .icon {
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            z-index: 1;
            transition: $transition;
            opacity: 0;

            i {
                color: $primary-color;
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
}

.copyright {
    border-top: 1px solid rgba($light-color, 0.2);
    color: $light-color;
}

@media (max-width: 767px) {
    .logo-area {
        margin-bottom: 35px;

        img {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }

        .newsletter-form {
            .form-control {
                height: 40px;
            }
        }
    }

    .quick-link {
        h3 {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    .helpful-link {
        h3 {
            font-size: 18px;
            margin-bottom: 20px;
        }

        ul {
            li {
                margin-bottom: 15px;
                font-size: 14px;

                a {
                    font-size: 14px;
                }
            }
        }
    }

    .instagram {
        h3 {
            font-size: 18px;
            margin-bottom: 25px;
        }
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .logo-area {
        margin-bottom: 35px;

        img {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }

        .newsletter-form {
            .form-control {
                height: 43px;
            }
        }
    }

    .quick-link {
        h3 {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    .helpful-link {
        h3 {
            font-size: 18px;
            margin-bottom: 20px;
        }

        ul {
            li {
                margin-bottom: 15px;
                font-size: 14px;

                a {
                    font-size: 14px;
                }
            }
        }
    }

    .instagram {
        h3 {
            font-size: 18px;
            margin-bottom: 25px;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .logo-area {
        margin-bottom: 35px;

        img {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }

        .newsletter-form {
            .form-control {
                height: 44px;
            }
        }
    }

    .quick-link {
        h3 {
            font-size: 18px;
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
        }
    }

    .helpful-link {
        h3 {
            font-size: 18px;
            margin-bottom: 20px;
        }

        ul {
            li {
                margin-bottom: 15px;
                font-size: 14px;

                a {
                    font-size: 14px;
                }
            }
        }
    }

    .instagram {
        h3 {
            font-size: 18px;
            margin-bottom: 25px;
        }
    }
}

.rtl{
    .logo-area {
        padding-right: 0;
        padding-left: 30px;
    }

    .quick-link {
        ul {
            padding-right: 0;
            li {
                padding-left: 0;
                padding-right: 20px;
                i {
                    left: unset;
                    right: 0;
                }
            }
        }
    }

    .helpful-link {
        ul {
            padding-right: 0;
        }
    }
}
