$primary-color: #a27b2c;
$gradient-color: linear-gradient(90deg, $primary-color 0, #ebce92 100%) !important;
$light-color: #fff;
$black-color: #221e1f;
$primary-font: 'Cinzel', serif;
$arabic-font: 'Changa', serif;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
$transition: all ease .5s;
