@import "../default/_generale";
@import "../components/page-banner";
@import "../components/_inner-content";

.side-contact{
    box-shadow: $box-shadow;
    padding: 20px;
    .contact-doctor-form{
        .col-lg-6 {
            flex: 0 0 auto;
            width: 100%;
        }
    }
}
